<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <information>
    <name>MTG Commander Life Counter</name>
    <version>2.0.0</version>
    <author>MTG Commander Life Counter contributors</author>
    <id>mtg-life-counter</id>
  </information>
  <menus>
    <menu type="json" dynamic="true">menu.json</menu>
  </menus>
</extension>
